body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    height: auto;
    background-color: #6756AD;
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding: 0px 20px;
}
.useful-links span{
    font-size: 25px;
    color: white;
}
.logout-btn{
    padding: 4px 8px;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    background-color: red;
}
.useful-links li{
    display: inline;
    list-style-type: none;
}
div.logo img{
    width: 150px;
    height: 80px;
}
div.body{
    display: flex;
    flex-direction: row;
}
aside.aside-nav{
    width: 25%;
    background-color: #333;
    height: 500px;
}
main.main-wrapper{
    height: 500px;
    padding: 20px;
    margin-left: 10px;
    width: 75%;
    display: flex;
    border: none;
}
.navigation-links{
    padding: 0px;
    margin: 0px;
}
.navigation-links li{
    padding: 8px 20px;
    background-color: #333;
    transition: 300ms ease-in-out;
}
.navigation-links li:hover:not(.oncheck){
    background-color: #8c8c8c;
    cursor: pointer;
    padding-left: 35px;
    transition: 300ms ease-in;
    border-left: 3px solid white;
}
.navigation-links a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    
}
.navigation-links span{
    color: white;
    margin-left: 10px;
}
.fas{
    color: white;
}
div.row-3{
    width: 60%;
    display: flex;
    height: 200px;
    padding: 10px 10px;
    border: none;
}

div.online-users,.registered-users,.friends{
    width: 35%;
    border: 2px solid black;
    margin-right: 10px;
    border: none;
}

h1 .fa-circle{
    color: limegreen;
}

div.search-users{
    border:hidden;
    width: 40%;
    display: flex;
    box-shadow:2px 2px 8px #333;
    flex-direction: column; 
}

.placeholder div.background img{
    width: 100%;
    margin-top: 25%;
    opacity: 0.2;
}

.search-users-input{
    border: none;
    outline: none;
    overflow: hidden;
    background: transparent;
    margin-top: 10%;
    text-align: center;
    color: #d9d9d9;
}

.search-input{
    border: 1px solid #333;
    height: auto;
    padding: 10px 5px;
    box-sizing: border-box;
    background-color:#333;
}

.search-input input{
    width:60%;
    padding:6px 7px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    box-sizing:border-box;
    border:hidden;
    outline:none;  
    font-size: 1vw;  
}
.search-input button {
    margin-left:-5px;
    padding:4px 5px;
    border:2px solid #6756AD;
    background:#6756AD;
    color:white;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    width: 40%;
    height: auto;
    font-size: 1vw;    
}

.search-input .fa-search{
    color: white;
}

.online-users-img{
    width:90%; 
    height:70%; 
}

.registered-users-img{
    width: 90%;
    height: 60%;
    position: relative;
    top: -6%;
}
.friends-img{
    width: 90%;
    height: 70%;
}
/*custom*/
.box-h{
    font-size: 18px;
    text-align: center;
    font-weight: 500px;
}
.online-users-bg{
    color: white;
    background-color: #333;
    box-shadow: 2px 2px 5px #333;
}
.registered-users-bg{
    color: white;
    background-color: #6756AD;
    box-shadow: 2px 2px 5px #6756AD;
}
.friends-bg{
    color: white;
    background-color: #E1806d;
    box-shadow: 2px 2px 5px #E1806d;
}
